@main(null){
    <div class="row fullScreen" id="waitingRoomContainer container">
        <div class="col-md-8 mainPartContainer">
            <ul id="userConnectedList">
                <li class="itemList">
                    <div class="row">
                        <div class="col-xs-4">username</div>
                        <div class="col-xs-4">Category</div>
                        <div class="col-xs-3">puntuación total (Javi)</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4 profile text-center">
            <h2>Perfil</h2>
            <div>Nombre de usuario:</div>
            <div>Sexo:</div>
            <div>Fecha de nacimiento:</div>
            <div>Descripción personal:</div>
            <div>Fecha de registro:</div>
        </div>
    </div>
}