@(my_user: UserConnected)(other_user: UserConnected)
@main(null){
    <div class="row fullScreen" id="waitingRoomContainer container">
        <div class="col-md-8 mainPartContainer">
            <ul id="userConnectedList">
                @* como parámetro habría que pasar el Map de usuarios conectados, y aquí hacer un for para pintar  todos los usuarios
                del Map. Cada usuario de la lista se representa en itemListTemplate y hay que pasarle su UserConnected
                @for(user <- userConnectedMap){
                    @itemListTemplate(user)
                }
                *@

            </ul>
        </div>
        <div class="col-md-4 profile text-center">
            @if(other_user != null){
                @profileView(other_user);
            }else{
                @profileView(my_user);
            }
        </div>
    </div>
}

<script type="text/javascript" charset="utf-8" src="@@routes.ChatRoomController.waiting()"></script>