@(topic: String)(category: String)(users: ArrayList[UserConnected])
@main(null){
    <div class="row fullScreen" id="waitingRoomContainer container">
        <div class="col-md-8 mainPartContainer">
            <div class="chatroomYourInfo border-inf row">
                <div class="col-md-7 col-xs-12">
                    <h4>Tu tema de conversación:</h4>
                    <p>@topic</p>
                </div>
                <div class="col-md-3 col-xs-6 middleVertical">
                    <p>
                        <label>Categoría:</label><span>@category</span>
                    </p>
                </div>
                <div class="col-md-2 col-xs-5 middleVertical">
                    <button class="btn btn-primary">Editar</button>
                </div>
            </div>
            <ul id="userConnectedList">
                <li class="itemList border-inf">
                    <div class="row">
                        <div class="col-xs-4">username</div>
                        <div class="col-xs-4">Category</div>
                        <div class="col-xs-3">puntuación total (Javi)</div>
                    </div>
                </li>
                @for(user <- users) {
                    <li class="itemList" id=@user.getUser().getUsername()>
                        <div class="row">
                            <div class="col-xs-4">@user.getUser().getUsername()</div>
                            <div class="col-xs-4">@user.getCategory().getCategoryName()</div>
                            <div class="col-xs-3">puntuación total (Javi)</div>
                            <!--<div>@@user.getUser().getStingBornDate()</div>-->
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-4 profile text-center">
            <div id="infouser">
                <h2>Perfil</h2>
                <div>Nombre de usuario:</div>
                <div>Sexo:</div>
                <div>Fecha de nacimiento:</div>
                <div>Descripción personal:</div>
                <div>Fecha de registro:</div>
            </div>
            <div>
                <button class="btn btn-primary" id="invite">Invitar!</button>
            </div>
        </div>
    </div>
}
<!--<script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>-->
<script type="text/javascript" charset="utf-8" src="@routes.ChatRoomController.waiting()"></script>